@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Montserrat&family=Quicksand&display=swap");

// DODAJ KARTU, FORMU ZA MAIL

:root {
  --darkgreen: #94b49f;
  --lightgreen: #cee5d0;
  --cream: #fcf8e8;
  --orange: #ecb390;
  --orangestrong: #e9894e;
  --grey: #383838;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;

  scrollbar-width: none; // firefox scrollbar
  font-family: "Quicksand", sans-serif;
}

::-webkit-scrollbar {
  // chrome scrollbar
  display: none;
  overflow: hidden;
}

body {
  background-color: var(--cream);
}

.header {
  & h1 {
    font-family: "Gloria Hallelujah", cursive;
    text-align: center;
  }
  & h3 {
    margin-bottom: 20px;
    text-align: center;
  }
  & .iconBar {
    &.abs {
      position: absolute;
      z-index: 1;
    }
    &.fixed {
      position: absolute;
    }
    background-color: var(--grey);
    width: 20px;
    height: 20px;
    color: var(--lightgreen);
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  & .nav-bar {
    background-color: var(--lightgreen);
    position: relative;
  }
  & ul {
    background-color: var(--lightgreen);
    margin-bottom: 20px;
    & li {
      list-style: none;

      text-align: center;
      font-size: x-large;
      & a {
        padding: 20px;
        width: 100%;
        display: block;
      }
      &:hover {
        background-color: var(--darkgreen);
        transition: 0.5s;
      }
    }
  }
  & .cover {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    & img {
      width: 100%;
    }
    & h2 {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--cream);
      text-transform: uppercase;
      font-size: 4vw;
      width: 80%;
    }
  }
}

.hidden {
  visibility: hidden;
  display: none;
}

.images-container {
  position: relative;
  margin: 10px;
  border-radius: 15px;

  & .images {
    padding: 10px;
  }
  & img {
    width: 100%;
    border-radius: 10px;
    padding: 5px;
  }
  & h2 {
    font-size: 8vw;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding-top: 15px;
    color: var(--grey);
    text-shadow: 21x 1px 2px var(--grey);
  }
}

.proizvodi-container {
  background-color: var(--darkgreen);
  width: 90%;
  margin: 0 auto;
}

.detaljnije {
  margin: 15px;
  color: var(--grey);
  font-size: 18px;
  padding: 20px;
  background-color: var(--lightgreen);
  & .detaljnije-image {
    min-height: 240px; // dodaj sve slike iste velicine i makni ovo
    width: 100%;
    border-radius: 10px;
  }
  & h2 {
    text-align: center;
    padding-bottom: 15px;
  }
  & p {
    padding: 7px;
  }
}

.footer {
  background-color: var(--grey);
  font-size: 20px;
  padding: 20px 20px 30px 20px;
  & p {
    padding: 10px;
    color: var(--cream);
  }
  & span {
    color: var(--orange);
  }
}

a {
  text-decoration: none;
  color: var(--grey);
}
.location-container {
  background-color: var(--grey);
  color: var(--cream);
  margin: 0 auto;

  & .info {
    font-size: 4vw;
    width: 80%;
    margin: 40px auto;
    padding-top: 50px;
    color: var(--orange);

    & .icon {
      margin-top: 3px;
      float: left;
    }

    & h3 {
      font-size: 5vw;
    }

    & p {
      padding-left: 50px;
    }

    & .info-address {
      padding-bottom: 10px;

      & h3 {
        font-size: 7vw;
        color: var(--cream);
      }
      & .icon {
        margin-top: 13px;
      }
    }

    & .info-phone {
      color: var(--orange);
    }
  }

  & .map {
    width: 80%;
    margin: 10px auto;
    background-color: var(--grey);
    height: 600px;
    padding-bottom: 50px;
    & .slika {
      height: 160px;
    }
  }
}

#kontakt {
  margin: 50px auto;

  & h2 {
    text-align: center;
    font-size: 40px;
  }

  & form {
    & input {
      display: block;
      margin: 20px auto;
      padding: 24px;
      border: 2px solid var(--darkgreen);
      border-radius: 4px;
      min-width: 80%;
      font-size: 1.5rem;
    }

    & textarea {
      display: block;
      margin: 20px auto;
      padding: 10px 10px 10px 20px;
      border: 2px solid var(--darkgreen);
      border-radius: 4px;
      min-width: 80%;
      font-size: 1.5rem;
    }

    & ::placeholder {
      font-size: 24px;
    }

    & button {
      font-size: 30px;
      width: 45%;
      border-radius: 10px;
      padding: 15px;
      background-color: var(--orange);
      color: var(--grey);
      font-weight: 900;
      display: block;
      margin: 20px auto;
      box-shadow: 2px 3px 4px;
      &:hover {
        background-color: var(--orangestrong);
        transform: scale(1.1);
        transition: 0.3s ease-in;
      }
    }
  }
}

// DESKTOP
@media screen and (min-width: 961px) {
  .header {
    & .cover {
      margin-bottom: 80px;
    }
  }
  .images-container {
    width: 80%;
    margin: 80px auto;

    & h2 {
      font-size: 5vw;
    }
    & img {
      width: 33%;
    }
  }
  .proizvodi-container {
    display: flex;
    padding: 15px;
    border-radius: 30px;
  }
  .detaljnije {
    border-radius: 15px;
  }
  .location-container {
    & .info {
      font-size: 2vw;
      width: 80%;
      margin: 40px auto;
      padding-top: 50px;

      & .icon {
        float: left;
      }

      & h3 {
        font-size: 2vw;
      }

      & .info-address {
        display: flex;
        padding: 10px;
        & h3 {
          font-size: 2vw;
        }
        & p {
          width: auto;
          padding-left: 10px;
          padding-top: 10px;
          font-size: 1.5vw;
        }
        & .icon {
          margin-top: 0px;
        }
      }

      & .info-phone {
        padding: 10px;
      }
    }
  }

  #kontakt {
    & form {
      width: 800px;
      margin: 20px auto;
    }
  }
}
