:root {
  --darkgreen: #94b49f;
  --lightgreen: #cee5d0;
  --cream: #fcf8e8;
  --orange: #ecb390;
  --grey: #383838;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cream);
}
